In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [217]:
getbooks=requests.get('https://books.toscrape.com/catalogue/category/books_1/page-1.html')
soup=BeautifulSoup(getbooks.text,'html.parser')
findbooks=soup.find_all('li',attrs={'class':'col-xs-6 col-sm-4 col-md-3 col-lg-3'})
findbookname=findbooks[0].find_all('article',attrs={'class':'product_pod'})
x=findbookname[0].find('img',attrs={'class':'thumbnail'}).attrs
bookname=x['alt']
bookname

'A Light in the Attic'

In [218]:
findprice=findbooks[0].find_all('p',attrs={'class':'price_color'})
price=float(findprice[0].text.strip('Â£'))
price

51.77

In [208]:
findrating=findbooks[0].find('p',attrs={'class':'star-rating'})
q=findrating.attrs
bookrating=q['class'][1]
bookrating

'Three'

In [249]:
pages=soup.find_all('li',attrs={'class':'current'})
p=pages[0]
numberofpages=int(p.text.strip().replace('Page 1 of','').strip())
numberofpages

50

In [255]:
with open('books.csv','w',encoding='utf8') as fd:
    fd.write("name,price,rating\n")
    for i in range(numberofpages):
     print(f"Scraping page {i+1}")
     getbooks=requests.get(f'https://books.toscrape.com/catalogue/category/books_1/page-{i}.html')
     soup=BeautifulSoup(getbooks.text,'html.parser')
     findbooks=soup.find_all('li',attrs={'class':'col-xs-6 col-sm-4 col-md-3 col-lg-3'})
     for i in range(len(findbooks)):
            findbookname=findbooks[i].find_all('article',attrs={'class':'product_pod'})
            x=findbookname[0].find('img',attrs={'class':'thumbnail'}).attrs
            bookname=x['alt']
            findprice=findbooks[i].find_all('p',attrs={'class':'price_color'})
            price=float(findprice[0].text.strip('Â£'))
            findrating=findbooks[i].find('p',attrs={'class':'star-rating'})
            q=findrating.attrs
            bookrating=q['class'][1]
            fd.write(f"\"{bookname}\",\"{price}\",\"{bookrating}\"\n")

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10
Scraping page 11
Scraping page 12
Scraping page 13
Scraping page 14
Scraping page 15
Scraping page 16
Scraping page 17
Scraping page 18
Scraping page 19
Scraping page 20
Scraping page 21
Scraping page 22
Scraping page 23
Scraping page 24
Scraping page 25
Scraping page 26
Scraping page 27
Scraping page 28
Scraping page 29
Scraping page 30
Scraping page 31
Scraping page 32
Scraping page 33
Scraping page 34
Scraping page 35
Scraping page 36
Scraping page 37
Scraping page 38
Scraping page 39
Scraping page 40
Scraping page 41
Scraping page 42
Scraping page 43
Scraping page 44
Scraping page 45
Scraping page 46
Scraping page 47
Scraping page 48
Scraping page 49
Scraping page 50

In [256]:
df=pd.read_csv('books.csv')
df

                                                  name  price rating
0                                 A Light in the Attic  51.77  Three
1                                   Tipping the Velvet  53.74    One
2                                           Soumission  50.10    One
3                                        Sharp Objects  47.82   Four
4                Sapiens: A Brief History of Humankind  54.23   Five
..                                                 ...    ...    ...
975                             Icing (Aces Hockey #2)  40.44   Four
976  Hawkeye, Vol. 1: My Life as a Weapon (Hawkeye #1)  45.24  Three
977  Having the Barbarian's Baby (Ice Planet Barbar...  34.96   Four
978               Giant Days, Vol. 1 (Giant Days #1-4)  56.76   Four
979           Fruits Basket, Vol. 1 (Fruits Basket #1)  40.28   Five

[980 rows x 3 columns]